.container {
  z-index: 10;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;

  @include min-width('medium') {
    min-width: 748px;
  }
  @include min-width('large') {
    max-width: 1200px;
  }
}
